<% flash.each do |type, msg| %>
  <div class="<%= type %>"><%= msg %></div> 
<% end %>

<h1>Список вопросов теста <%= @test.title %></h1>
<% @questions.each do |question| %>
  <div>
    <%= question.body %>
  </div>
  <div>
    <%= link_to 'Показать', question %>
    <%= link_to 'Удалить', question, method: :delete, data: { confirm: 'Подтвердите удаление' } %>
  </div>
<% end %>

<h3>
  <%= link_to 'Создать новый вопрос', new_test_question_path(@test) %>
</h3>
