<div class="row mt-2 align-items-center text-center">
  <div class="col-2 badge-image">
    <%= image_tag badge.image %>
  </div>
  <div class="col-6"><%= badge.name %></div>
  <div class="col-1"><%= link_to t("titles.show"), [:admin, badge] %></div>
  <div class="col-1">
    <%= link_to t("titles.edit"), edit_admin_badge_path(badge) %>
  </div>
  <div class="col-1">
    <%= link_to t("titles.delete"),
                [:admin, badge], method: :delete,
                data: { confirm: t("titles.confirm_deletion") } %>
  </div>
</div>
