<div>
  <%= link_to t("titles.back"), tests_path %>
</div>

<h1><%= t(".title", test_title: @test_passage.test.title) %></h1>

<h2 class="test_passage_result">
  <% if @test_passage.success? %>
    <%= t(".success") %>
    <span class="success"><%= @test_passage.success_percent %>%</span>
  <% else %>
    <%= t(".fail") %>
    <span class="fail"><%= @test_passage.success_percent %>%</span>
  <% end %>
</h2>


