<div>
  <%= link_to t("titles.back"), tests_path %>
</div>

<h1>
  <%= t(".title", test_title: @test_passage.test.title) %>
</h1>
<div>
  <p>
    <b><%= @test_passage.current_question.number %> 
    <%= t(".question_from") %>
    <%= @test_passage.test.questions.count %>:</b>
 
    <%= @test_passage.current_question.body %>
  <p>
    <%= t(".answer_variants") %>
</div>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |f| %>
  <%= f.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object_id}" %>
      <%= b.label %>
  <% end %>
  <p>
    <%= f.submit t(".next") %>
<% end %>

