<div>
  <p>
    <%= current_year %> |
    <%= t(".author") %> |
    <%= github_url('pashex', 'test_guru') %>
  <p> 
    <%= t(".description") %>
  <p>
    <%= link_to t(".school_link"),
                "http://www.thinknetica.com/",
                target: "_blank" %>
</div>
