<div>
  <%= link_to 'К вопросу теста', [:admin, @question || @answer.question] %>
</div>

<h1><%= resource_header(@answer) %></h1>

<%= render 'shared/errors', resource: @answer %>

<%= form_with model: [:admin, @question, @answer], local: true do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, id: :answer_body %>
  <%= f.label :correct %>
  <%= f.check_box :correct, id: :answer_correct %>
  <%= f.submit %>
<% end %>
