<div>
  <%= link_to t("titles.back"), [:admin, @question.test] %>
</div>

<h1><%= t(".title", test_title: @question.test.title) %></h1>
<div>
  <p>
    <%= @question.body %>
</div>

<h2><%= t(".answer_list") %></h2>
<table>
  <tr>
    <th><%= Answer.human_attribute_name(:body) %></th>
    <th><%= Answer.human_attribute_name(:correct) %></th>
    <th colspan="2"><%= t("titles.actions") %></th>
  </tr>
  <%= render @question.answers %>
</table> 

<h3>
  <%= link_to t("titles.create", resource: Answer.model_name.human), new_admin_question_answer_path(@question) %>
</h3>
