<div>
  <%= link_to t("navlinks.gists"), admin_gists_path %>
</div>

<h1><%= t(".title") %></h1>
<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= Test.human_attribute_name(:title) %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t(".questions_count") %></th>
    <th colspan="3"><%= t("titles.actions") %></th>
  </tr>
  <%= render @tests %>
</table>

<h3>
  <%= link_to t("titles.create", resource: Test.model_name.human), new_admin_test_path %>
</h3>
