<div>
  <%= link_to t("titles.back"), admin_tests_path %>
</div>

<h1><%= t(".title", test_title: @test.title) %></h1>
<div>
  <p>
    <%= Test.human_attribute_name(:level) %>: <%= @test.level %>
  <p>
    <%= Test.human_attribute_name(:category_id) %>: <%= @test.category.title %>
</div>

<h3>
  <%= link_to t("titles.edit"), edit_admin_test_path(@test) %>
</h3>

<h2><%= t(".question_list") %></h2>
<table>
  <tr>
    <th><%= Question.human_attribute_name(:body) %></th>
    <th colspan="3"><%= t("titles.actions") %></th>
  </tr>
  <%= render @test.questions %>
</table>

<h3>
  <%= link_to t("titles.create", resource: Question.model_name.human), new_admin_test_question_path(@test) %>
</h3>
