<div>
  <%= link_to 'К списку тестов', admin_tests_path %>
</div>

<h1>Тест <%= @test.title %></h1>
<div>
  <p>
    Уровень: <%= @test.level %>
  <p>
    Категория: <%= @test.category.title %>
</div>

<h2>Список вопросов</h2>
<table>
  <tr>
    <th>Тело вопроса</th>
    <th colpan="3">Действия</th>
  </tr>
  <%= render @test.questions %>
</table> 

<h3>
  <%= link_to 'Создать новый вопрос', new_admin_test_question_path(@test) %>
</h3>
