<h1><%= t(".title") %></h1>
<table>
  <tr>
    <th><%= Test.human_attribute_name(:title) %></th>
    <th><%= t(".questions_count") %></th>
    <th><%= t("titles.actions") %></th>
  </tr>
  <%= render @tests %>
</table>
